@model GameViewModel
@{
    ViewData["Title"] = Model.Title;
}
<link href="~/css/Puzzle.css" rel="stylesheet" />
<h1>@Model.Title</h1>

@Html.HiddenFor(m => m.GameId)
@Html.HiddenFor(m => m.NumberOfColumns)
@Html.HiddenFor(m => m.NumberOfRows)
@Html.HiddenFor(m => m.IsVideo)

<div>
    <section id="puzzleSection">
        <canvas id="puzzleCanvas" width="1000" height="700" style="float: left; margin: 0px 20px 20px 20px;">
        </canvas>
        <div class="row">
            <div id="previewArea">
                @*<img id="previewImage" src="~/Images/fruity-pebbles.jpg" width="200" height="200" />
                <img id="previewImage" src="@Model.ImagePath" width="200" height="200" />
                <img id="previewImage" src="@Url.Content(Model.ImagePath)" width="200" height="200" />*@

                @if (Model.IsVideo)
                {
                <video loop id="previewImage" autoplay muted width="200" height="200">
                    @*<source src="~/Video/VID_20191125_175117.mp4" type="video/mp4" />*@
                    @if (!string.IsNullOrEmpty(Model.GiphyUrl))
                    {
                        <source src="@Model.GiphyUrl" />                        
                    }
                    else
                    {
                        <source src="@String.Format("data:video/mp4;base64,{0}", Model.ImageString)" />                        
                    }
                </video>
                }
                else
                {
                    <img id="previewImage" width="200" height="200"
                         src="@String.Format("data:image/png;base64,{0}", Model.ImageString)" @if (!Model.DisplayPreview) { <text> style="display:none" </text> } />
                }
            </div>
            <div id="friendSection">
                <h2>Friends:</h2>
            </div>
        </div>
    </section>
</div>

@section Scripts {

    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/PuzzlePlay/GameArea.js"></script>
    <script src="~/js/PuzzlePlay/PuzzlePieceHolder.js"></script>
    <script src="~/js/PuzzlePlay/PuzzlePiece.js"></script>
    <script src="~/js/PuzzlePlay/PuzzleGame.js"></script>
    <script src="~/js/PuzzlePlay/ActiveGame.js"></script>
}